* {
font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 130px;
  }
  
  .navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: -10px -10px 0 -10px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: right;
  }
  .nav-links a {
    color: #fff;
  }
  
  .logo-img img{
    height: 80px;
    width: 80px;
    margin: 10px 20px 0 0;
  }
  
  .logo-name {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .logo-desc {
    color: red;
    display: block;
  }
  
  .logo {
    font-size: 22px;
    
  }
  
  .menu {
    display: flex;
    font-size: 18px;
    height: 10px;
    text-align: center;
    text-decoration: none;
  }
  .menu a{
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .menu li:hover {
    /* background-color: #4c9e9e; */
    /* font-size: 18.5px; */
    border-radius: 5px;
    height: 20px;
    background-color: #007bff;
    transition: 0.25s ease;
    color: white;
  }
  
  .menu li {
    padding: 2px 15px;
  }
  
  
  .services {
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(226, 241, 56);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  
  .services:hover .dropdown {
    display: block;
  }
  .mySlides {display:none;}s
  .brand-name {
    color: red;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }


  th {
    background-color: black;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #animate1, #animate2 {
    transition: all 0.3s ease;
  }


  #animate1:hover {
    background-color: rgba(133, 133, 133, 0.766);
    cursor: pointer;
  }

  #animate2:hover {
    background-color: rgb(133, 133, 133, 0.766);
    cursor: pointer;
  }