/* Add this CSS to style your card */
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}


.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin: -10px -10px 0 -10px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.nav-links {
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: right;
}
.nav-links a {
  color: #fff;
}

.logo-img img{
  height: 80px;
  width: 80px;
  margin: 10px 20px 0 0;
}

.logo-name {
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo-desc {
  color: red;
  display: block;
}

.logo {
  font-size: 22px;
  
}

.menu {
  display: flex;
  font-size: 18px;
  height: 10px;
  text-align: center;
  text-decoration: none;
}
.menu a{
  text-align: center;
  text-decoration: none;
  color: white;
}
.menu li:hover {
  /* background-color: #4c9e9e; */
  /* font-size: 18.5px; */
  border-radius: 5px;
  height: 24px;
  background-color: #007bff;
  transition: 0.25s ease;
  color: white;
}

.menu li {
  padding: 2px 15px;
}


.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(226, 241, 56);
  padding: 1em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}


.services:hover .dropdown {
  display: block;
}
.mySlides {display:none;}s
.brand-name {
  color: red;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.company-name {
  text-align: center;
}

.cards {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
  }
  .cards-container {
    display: flex;
    justify-content: center;
  }

  .cards-container2 {
    display: flex;
    justify-content: right;
    margin-top: 40px;
  }

  .cards:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  }
  
  .card-img-top {
    width: 100%;
    height: 55%;
  }
  
  .card-body {
    padding: 1.25rem;
    padding-top: 0;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-top: 0;
    text-align: center;
  }
  
  .card-text {
    margin-top: 5px;
    font-size: 1rem;
    color: #555;
    text-align: center;
    
  }
  
  .card-info {
    text-align: center;
  }

  /* .appointments-card {
    margin-left: 110px;
  } */

  .prescriptions-card {
    margin-right: 85px;
  }

  .text-pre {
    margin-top: 15px;
  }
  .btn-rec {
    margin-left: 47px;
  }
  
  .btn-app {
    margin-left: 80px;
  }

  .btn-pre {
    margin-left: 80px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    transition: all 0.2s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Center the card on the page */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .title-app {
    margin-top: -8;
  }

  .quote {
    align-self: center;
    text-align: center;
  }
  